/* You can add global styles to this file, and also import other style files */

// this is our just created themes.scss file, make sure the path to the file is correct
@import 'themes';

// framework component styles
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

// install the framework styles
@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global(); // append the install mixin inside of the nb-install
};


button{
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.card-header{
  line-height: 5rem !important;
}

.item-buttons{
  margin-left: auto;
}

#hamburger-button{
  font-size: 20px !important;
}

#user-login{
  position: fixed;
  right: 20px;
}
